<div class="mb-1">
    <input 
        [class.is-invalid]="control.touched && control.invalid"
        type={{type}} 
        class="form-control"
        [formControl]="control"
        placeholder={{label}}
    >
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter a valid {{label}}
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        {{label}} should have minimum {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
        {{label}} must not exceed {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Passwords do not match
    </div>
</div>